[submodule "themes/raditian"]
	path = themes/raditian
	url = https://github.com/radity/raditian-free-hugo-theme.git
[submodule "themes/devresume"]
	path = themes/devresume
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme.git
